<!DOCTYPE html>
<html lang="en">
{{!-- head qismi --}}
{{>head}}

<body>
    {{!-- navbar qismi --}}
    {{>navbar}}
    
    {{!-- body qismi --}}
    <div class="container">
        {{{body}}}
    </div>
    

    {{!-- footer qismi --}}
    {{>footer}}
</body>
</html>